{{define "index"}} {{template "base" .}} {{end}} {{define "styles" }}
<style>
  .header {
    left: calc(-49.9vw + 50%);
    position: relative;
    overflow: hidden;
    height: 20rem;
    width: 99.9vw;
  }

  .header-image {
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .avatar-container {
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    height: 6rem;
    width: 6rem;
    right: 1rem;
    z-index: 2;
    top: 1rem;

    ion-icon {
      font-size: 3rem;
      color: var(--dr-zeta);
    }
  }

  .avatar-container:active {
    scale: 0.9;
  }
</style>

{{end}} {{ define "body"}}

<div class="header mb-2">
  <img
    src="/static/images/tacos_bkg.webp"
    alt="Tacos on a plate"
    class="header-image"
  />

  <a
    class="avatar-container bg-delta d-flex align-items-center justify-content-center"
  >
    <ion-icon name="person"></ion-icon>
  </a>
</div>

<div class="header-content mb-4">
  <h2 class="header-title text-center"></h2>
  <p class="header-subtitle text-center">
    Select your filters below to get started.
  </p>
  <p class="opacity-60 text-center">
    (A large list of filters could limit recipe options.)
  </p>
</div>

<!-- form response after submission -->
<div id="response"></div>
<form action="/recipe-batches/new" method="POST" onsubmit="handleSubmit(event)">
  <!-- Button and associated checkbox for "Healthy" -->
  <button
    type="button"
    class="primary-selector-button mb-2"
    onclick="toggleSelection(this, 'healthyCheckbox')"
  >
    <ion-icon name="fitness"></ion-icon>
    <span>Healthy</span>
  </button>
  <input
    type="checkbox"
    id="healthyCheckbox"
    name="isHealthy"
    style="display: none"
  />

  <!-- Button and associated checkbox for "Quick" -->
  <button
    type="button"
    class="primary-selector-button mb-2"
    onclick="toggleSelection(this, 'quickCheckbox')"
  >
    <ion-icon name="flash"></ion-icon>
    <span>Quick</span>
  </button>
  <input
    type="checkbox"
    name="isQuick"
    id="quickCheckbox"
    style="display: none"
  />

  <!-- Button and associated checkbox for "Maximize ingredients" -->
  <button
    type="button"
    class="primary-selector-button mb-2"
    onclick="toggleSelection(this, 'maximizeCheckbox')"
  >
    <ion-icon name="checkmark-circle"></ion-icon>
    <span>Maximize ingredients</span>
  </button>
  <input
    type="checkbox"
    id="maximizeCheckbox"
    name="isMaximizeIngredients"
    style="display: none"
  />

  <!-- Button and associated checkbox for "Budget friendly" -->
  <button
    type="button"
    class="primary-selector-button mb-2"
    onclick="toggleSelection(this, 'budgetCheckbox')"
  >
    <ion-icon name="wallet"></ion-icon>
    <span>Budget friendly</span>
  </button>
  <input
    type="checkbox"
    name="isBudgetFriendly"
    id="budgetCheckbox"
    style="display: none"
  />

  <!-- Input for "Cuisine specific" -->
  <div
    class="input-selector-button mb-4"
    onclick="toggleInput(this, 'cuisineInput')"
  >
    <div class="input-selector-button__top-content">
      <ion-icon name="flag"></ion-icon>
      <span>Cuisine specific</span>
    </div>
    <div
      class="input-selector-button__bottom-content"
      id="cuisineInput"
      style="display: none"
    >
      <p class="mb-1">Type the kind of cuisine you’d like to cook</p>
      <input
        type="text"
        placeholder="example: Italian"
        name="cuisineType"
        onclick="event.stopPropagation();"
      />
    </div>
  </div>

  <!-- Slider input for "Number of recipes" -->
  <div class="mb-4">
    <label for="recipeCount"
      >Number of recipes: <b id="recipeCountDisplay">1</b></label
    >
    <input
      type="range"
      id="recipeCount"
      name="recipeCount"
      class="range-input-primary"
      min="1"
      max="14"
      value="1"
      oninput="document.getElementById('recipeCountDisplay').textContent = this.value"
    />
    <div class="d-flex align-items-center justify-content-between">
      <span>1</span>
      <span>14</span>
    </div>

    <!-- Display slider value here -->
  </div>

  <button class="primary-button" type="submit">Let's cook</button>
</form>

{{end}} {{define "scripts"}}
<script>
  function toggleSelection(button, checkboxId) {
    button.prevent;
    const checkbox = document.getElementById(checkboxId);

    // Toggle the checkbox state
    checkbox.checked = !checkbox.checked;

    // Toggle the .active class on the button
    button.classList.toggle("active");
  }

  function toggleInput(button, inputId) {
    const inputDiv = document.getElementById(inputId);

    // Check if the element exists before trying to access its properties
    if (!inputDiv) {
      console.error(`Element with id '${inputId}' not found.`);
      return;
    }

    // Toggle visibility of the input section
    if (inputDiv.style.display === "none" || inputDiv.style.display === "") {
      inputDiv.style.display = "block";
      // Add the active class to the button
      button.classList.add("active");
    } else {
      inputDiv.style.display = "none";
      // Remove the active class from the button
      button.classList.remove("active");
    }
  }

  // I update the title in accordance with the time of the day:
  function updateGreeting() {
    const headerTitle = document.querySelector(".header-title");
    const currentHour = new Date().getHours();
    let greeting;

    if (currentHour >= 5 && currentHour < 12) {
      greeting = "morning";
    } else if (currentHour >= 12 && currentHour < 18) {
      greeting = "afternoon";
    } else if (currentHour >= 18 && currentHour < 21) {
      greeting = "evening";
    } else {
      greeting = "night";
    }

    headerTitle.textContent = `Good ${greeting}!`;
  }

  // Call the function to set the greeting initially
  updateGreeting();

  // Show loading text when form is being submitted
  function showLoading() {
    const button = document.getElementById("submitButton");
    button.innerHTML = "Loading...";
    button.disabled = true;

    document.body.addEventListener("htmx:afterOnLoad", function () {
      button.innerHTML = "Submit";
      button.disabled = false;
    });
  }
</script>

<!-- post request  -->
<script>
  async function handleSubmit(event) {
    event.preventDefault();
    const form = event.target.closest("form");
    const formData = new FormData(form);
    const data = {};

    // Itera su tutti gli elementi del modulo
    Array.from(form.elements).forEach((element) => {
      if (element.name) {
        if (element.type === "checkbox") {
          data[element.name] = element.checked; // Checkbox come booleano
        } else if (element.type === "radio") {
          if (element.checked) {
            data[element.name] = element.value; // Solo il radio selezionato
          }
        } else {
          data[element.name] = formData.get(element.name) || ""; // Altri tipi come stringhe
        }
      }
    });

    console.log(data);

    try {
      const response = await fetch(form.action, {
        method: form.method,
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      });

      if (!response.ok) {
        throw new Error("Error submitting the form.");
      }

      console.log("Result:", response);
    } catch (error) {
      console.error("Error:", error);
    }
  }
</script>

{{end}}
