{{define "index"}} {{template "base" .}} {{end}} {{define "styles" }}
<style>
  .header {
    left: calc(-49.9vw + 50%);
    position: relative;
    overflow: hidden;
    height: 20rem;
    width: 99.9vw;
  }

  .header-image {
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .avatar-container {
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    height: 6rem;
    width: 6rem;
    right: 1rem;
    z-index: 2;
    top: 1rem;

    ion-icon {
      font-size: 3rem;
      color: var(--dr-zeta);
    }
  }

  .avatar-container:active {
    scale: 0.9;
  }
</style>

{{end}} {{ define "body"}}

<div class="header mb-2">
  <img
    src="/static/images/tacos_bkg.webp"
    alt="Tacos on a plate"
    class="header-image"
  />

  <a
    class="avatar-container bg-delta d-flex align-items-center justify-content-center"
  >
    <ion-icon name="person"></ion-icon>
  </a>
</div>

<div class="header-content mb-4" id="intro-text">
  <h2 class="header-title text-center"></h2>
  <p class="header-subtitle text-center">
    Select your filters below to get started.
  </p>
  <p class="opacity-60 text-center">
    (A large list of filters could limit recipe options.)
  </p>
</div>

<form
  onsubmit="handlePostRequest(event)"
  action="/recipe-batches/new"
  method="POST"
>
  <!-- Button and associated checkbox for "Healthy" -->
  <div name="is_healthy_input">
    <button
      type="button"
      class="primary-selector-button mb-2"
      onclick="toggleSelection(this, 'is_healthy')"
    >
      <ion-icon name="fitness"></ion-icon>
      <span>Healthy</span>
    </button>
    <input
      type="checkbox"
      id="is_healthy"
      name="is_healthy"
      style="display: none"
    />
  </div>

  <!-- Button and associated checkbox for "Quick" -->
  <div id="is_quick_input">
    <button
      type="button"
      class="primary-selector-button mb-2"
      onclick="toggleSelection(this, 'is_quick')"
    >
      <ion-icon name="flash"></ion-icon>
      <span>Quick</span>
    </button>
    <input
      type="checkbox"
      name="is_quick"
      id="is_quick"
      style="display: none"
    />
  </div>

  <!-- Button and associated checkbox for "Maximize ingredients" -->
  <div id="is_maximize_ingredients_input">
    <button
      type="button"
      class="primary-selector-button mb-2"
      onclick="toggleSelection(this, 'is_maximize_ingredients')"
    >
      <ion-icon name="checkmark-circle"></ion-icon>
      <span>Maximize ingredients</span>
    </button>
    <input
      type="checkbox"
      id="is_maximize_ingredients"
      name="is_maximize_ingredients"
      style="display: none"
    />
  </div>

  <!-- Button and associated checkbox for "Budget friendly" -->
  <div id="is_budget_friendly_input">
    <button
      type="button"
      class="primary-selector-button mb-2"
      onclick="toggleSelection(this, 'is_budget_friendly')"
    >
      <ion-icon name="wallet"></ion-icon>
      <span>Budget friendly</span>
    </button>
    <input
      type="checkbox"
      name="is_budget_friendly"
      id="is_budget_friendly"
      style="display: none"
    />
  </div>

  <!-- Input for "Cuisine specific" -->
  <div class="mb-4">
    <div
      id="cuisine_type_input"
      class="input-selector-button"
      onclick="toggleInput(this, 'cousine_type_input_box')"
    >
      <div class="input-selector-button__top-content">
        <ion-icon name="flag"></ion-icon>
        <span>Cuisine specific</span>
      </div>
      <div
        class="input-selector-button__bottom-content"
        style="display: none"
        id="cousine_type_input_box"
      >
        <p class="mb-1">Type the kind of cuisine you’d like to cook</p>
        <input
          type="text"
          placeholder="example: Italian"
          name="cousine_type"
          id="cousine_type"
          onclick="event.stopPropagation();"
        />
      </div>
    </div>
  </div>

  <!-- Slider input for "Number of recipes" -->
  <div class="mb-4" id="recipe_count_input">
    <div>
      <label for="recipeCount"
        >Number of recipes: <b id="recipeCountDisplay">1</b></label
      >
      <input
        type="range"
        id="recipe_count"
        name="recipe_count"
        class="range-input-primary"
        min="1"
        max="14"
        value="1"
        oninput="document.getElementById('recipeCountDisplay').textContent = this.value"
      />

      <!-- Display slider value here -->
      <div class="d-flex align-items-center justify-content-between">
        <span>1</span>
        <span>14</span>
      </div>
    </div>
  </div>

  <button class="primary-button" type="submit">Let's cook</button>
</form>

{{end}} {{define "scripts"}}
<!-- form input states -->
<script>
  //  Toggles the button selection
  function toggleSelection(button, checkboxId) {
    button.prevent;
    const checkbox = document.getElementById(checkboxId);

    // Toggle the checkbox state
    checkbox.checked = !checkbox.checked;

    // Toggle the .active class on the button
    button.classList.toggle("active");
  }

  // toggles a hidden input to show
  function toggleInput(button, inputId) {
    const inputDiv = document.getElementById(inputId);

    // Check if the element exists before trying to access its properties
    if (!inputDiv) {
      console.error(`Element with id '${inputId}' not found.`);
      return;
    }

    // Toggle visibility of the input section
    if (inputDiv.style.display === "none" || inputDiv.style.display === "") {
      inputDiv.style.display = "block";
      // Add the active class to the button
      button.classList.add("active");
    } else {
      inputDiv.style.display = "none";
      // Remove the active class from the button
      button.classList.remove("active");
    }
  }

  // I update the title in accordance with the time of the day:
  function updateGreeting() {
    const headerTitle = document.querySelector(".header-title");
    const currentHour = new Date().getHours();
    let greeting;

    if (currentHour >= 5 && currentHour < 12) {
      greeting = "morning";
    } else if (currentHour >= 12 && currentHour < 18) {
      greeting = "afternoon";
    } else if (currentHour >= 18 && currentHour < 21) {
      greeting = "evening";
    } else {
      greeting = "night";
    }

    headerTitle.textContent = `Good ${greeting}!`;
  }

  // Call the function to set the greeting initially
  updateGreeting();

  // Show loading text when form is being submitted
  function showLoading() {
    const button = document.getElementById("submitButton");
    button.innerHTML = "Loading...";
    button.disabled = true;

    document.body.addEventListener("htmx:afterOnLoad", function () {
      button.innerHTML = "Submit";
      button.disabled = false;
    });
  }
</script>

<!-- post request  -->
<script>
  async function handlePostRequest(e) {
    const { path, data } = formDataToJson(e);
    const response = await postRequest(path, data);

    const ergon = new Ergon();

    if (!response.success) {
      if (response.data.error.length > 0) {
        for (let error of response.data.error) {
          console.log(error.field.toLowerCase());
          // this is an input pecific feld
          if (error.field === "recipe_count") {
            ergon.tagName = "p";
            ergon.props = { class: "color-danger mt-2" };
            ergon.children = [error.message];
            ergon.parent = error.field + "_input";
            ergon.Render();
          } else {
            // no displaying generic errors for now....
          }
        }
      }
    } else {
      // everything went well, redirect the user to the batches page with the specific batch.id
      const batchId = response.data.id;

      createToast({
        message: "Batch created successfully, redirecting you now!",
        variant: "success",
        duration: 3,
        onAutoClose: function () {
          location.href = `/recipe-batches/${batchId}`;
        },
      });
    }
  }
</script>

{{end}}
