.toast-04hl {
  animation: topToBottom 300ms ease-in-out;
  transform: translateX(-50%);
  border-radius: 1rem;
  max-width: 50rem;
  position: fixed;
  left: calc(50%);
  bottom: auto;
  right: auto;
  width: 92%;
  top: 5rem;

  box-shadow: 0 0.4rem 0.8rem rgba(var(--dr-beta-rgb), 0.2);

  &.toast-success {
    background-color: var(--dr-success);
    color: var(--dr-zeta);
  }
  &.toast-danger {
    background-color: var(--dr-danger);
    color: var(--dr-zeta);
  }
  &.toast-warning {
    background-color: var(--dr-warning);
    color: var(--dr-beta);
  }
  &.toast-info {
    background-color: var(--dr-info);
    color: var(--dr-beta);
  }
  &.toast-default {
    background-color: var(--dr-eta);
    color: var(--dr-zeta);
  }

  * {
    color: inherit;
  }

  ion-icon {
    color: inherit;
  }

  div {
    h5,
    p {
      color: inherit;
    }
  }
}

@keyframes topToBottom {
  0% {
    top: -6rem;
  }
  100% {
    top: 5rem;
  }
}
